name: Publish to GitHub Pages

on:
  push:
    branches:
      - main  

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R packages
        run: Rscript -e "install.packages(c('rmarkdown', 'knitr', 'xml2', 'downlit'))"

      - name: Configure Git
        run: |
          git config --global user.name "cullen-molitor"
          git config --global user.email "cullen.molitor@gmail.com"
          
      - name: Publish to GitHub Pages
        run: quarto publish gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 


